@model WebApplication2.Models.Professors
@{
    ViewBag.Title = "Udate";
}
@{ var item = Model;}
<form asp-action="UpdateUniversity" asp-controller="Professors">
    <div class="form-group">
        <label asp-for="Name" class="control-label">Name</label>
        <input type="text" asp-for="Name" class="form-control" value="@item.Name" />
    </div>
    <div class="form-group">
        <label asp-for="subject" class="control-label">subject</label>
        <input type="text" asp-for="subject" class="form-control" value="@item.subject" />
    </div>

    <div class="form-group">
        <input type="submit" value="Отправить" class="btn btn-default" />
    </div>

</form>